# miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

# intellij related
*.iml
*.ipr
*.iws
.idea/

#.vscode/

# flutter/dart/pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/
/dist/

# node
node_modules

# ci
/coverage/
test.json

# symbolication related
app.*.symbols

# obfuscation related
app.*.map.json

# android studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release

.env
test.sh
